<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<title>上下左右居中元素 | Xurna Yang</title>
	<style type="text/css">
		body{
			height: 100%;
			margin: 0;
		}
		html{
			/*兼容firefox的div高度100%*/
			height: 100%;
		}
		.wrapper{
			height: 200px;
			width: 100%;
			/*position: relative;*/
			background-color: green;
		}
		
		.main{
			height:100px;
			width: 100px;
			background-color: yellow;
			position: relative;
			top: 50%;
			left: 50%;
			transform:translate(-50%,-50%);
		}

	</style>
	
</head>
<!-- 上下左右居中元素：用transform:translate。 -->
<body>
	<div class="wrapper">
	   	<div class="main"> main</div>
	</div>
	
</body>
</html>