<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<title>两列布局 | Xurna Yang</title>
	<style type="text/css">
		body{
			height: 100%;
			margin: 0;
		}
		html{
			/*兼容firefox的div高度100%*/
			height: 100%;
		}
		.left{
			height: 300px;
			float: left;
			width: 100px;
			/*解决IE6的3px-Bug*/
  			 /*IE6下当浮动元素与非浮动元素相邻时，3px的Bug就会出现，它会偏移3像素。*/
  			 _margin-right: -3px;
 			 background-color: orange;
		}
		.main{
			height: 100%;
			/*width: 100%;*/
			overflow: auto;
			background-color: blue;
		}
	</style>
	
</head>
<!-- 实现两列布局，左边固定宽度，右边自适应（有趣的是可以实现文字围绕左盒子）：左列float，右列包含左列内容 -->
<body>
   <div class="main">
  		 <div class="left">left</div>
      		<p>main</p> 
      		<p>main</p> 
      		<p>main</p> 
      		<p>main</p> 
      		<p>main</p> 
      		<p>main</p> 
      		<p>main</p> 
			<p>main</p> 
      		<p>main</p> 
      		<p>main</p> 
			<p>main</p> 
      		<p>main</p> 
      </div>
</body>
</html>